h1 {
    text-align: center;
    color: orange;
    font-size: xxx-large;
}

p {
    text-align: center;
}

button {
    font-size: xx-large;
    display:block;
    margin: 0 auto;
    margin-bottom: 25px;
}

ul {
    text-align: center;
    font-size: large;
    display: inline;
}

ol {
    font-size: large;
    justify-items: center;
    text-align: center;
}

.narf {
    padding-bottom: 400px;
}